<body>
    <!--<header class="header">
        <a href="#" class="logo">QuickFix</a>
        <nav class="nav-items">
          <a href="home.html">Home</a>
          
          <a href="#">View status</a>
          <a href="#">Logout</a>
        </nav>
      </header>-->
    
    <div class="background">
        <!--<div class="shape"></div>
        <div class="shape"></div>-->
    </div>
    <br>
    <form action="/getStatus" method="post">
        <!--<label for="username">Name</label>
        <input type="text" placeholder="Name" id="name">-->
        <label for="c_id">Complaint id</label>
        <!--<input type="email" placeholder="Email" class="email" name="mid">-->
        <input type="text" placeholder="complaint id" [(ngModel)]="cid" [ngModelOptions]="{standalone: true}" name="cid"  required>

        <button type="submit" (click)="getStatus()">Get status</button>

        <label for="Complaint">Complaint Submitted</label>
        <!--<textarea placeholder="Complaint" rows="10" cols="50" [(ngModel)]="content" [ngModelOptions]="{standalone: true}" name="content"  required></textarea>-->
        <p>{{rc_complaint}}</p>

        <label for="Complaint Solution">Solution provided</label>
        <!--<textarea placeholder="solution..." rows="10" cols="50" [(ngModel)]="solution" [ngModelOptions]="{standalone: true}" name="solution"  required></textarea>
        -->
        <p>{{rc_solution}}</p>
        <!--<button type="submit">Send</button>-->
        
    </form>
</body>